body {
  font-family: Helvetica, Arial, Sans-serif;
  background-image: url(/images/extra_clean_paper.png);
}

a.button {
  display: inline-block; /* display inline but have dimensions */
  width: 70px;
  background-color: #82B743;
  border: 2px solid white;
  color: white; /*text colour*/
  text-decoration: none; /*no underlining*/
  padding: 5px 10px;
  text-align: center;
  border-radius: 4px; /*rounded corners*/
  margin-left: 20px;
  margin-right: 0px;
  text-shadow: 0 0 2px rgba(0,0,0, 0.4); /*for readability*/
}

a.button.highlighted {
  background-color: #b77843;
  float: left;
  border-radius: 10px;
}

header {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  padding: 0 10px;
}

  /* every immediate child to be vertically centered */
  header > * {
    margin: auto 0;
  }

  header #logo {
    display: flex;
    font-family: Helvetica, Arial, Sans-serif;
  }

  header #user-links {
    flex: 1; /* http://learnlayout.com/flexbox.html */
    -webkit-flex: 1;
    text-align: right;
  }

#links-container {

  background-color: white;
  margin: 50px;
  box-shadow: 0 0 5px rgba(0,0,0,4);
  padding: 10px;

}
.link {

  background-color: #EEE; /* same as #EEEEEE */
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  /* 10px for top and bottom, inherit from parent */
  /* for left and right */
  margin: 10px inherit;
  padding: 15px 10px;

}

.link a.title {
  /* to make it slightly more prominent */
  letter-spacing: 1px;
  text-decoration: none;
  color: black;
}

footer {
  display: flex;
  background-color: rgba(255,255,255,0.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style: none;
}

  footer > * {
    margin: auto inherit;
    float: left;
  }

  footer img {
    vertical-align: top;
    margin-right: 40px;
  }

  footer #technologies {
    -webkit-flex: 1;
    flex: 1;
    margin-top: 10px;
    padding: 10px 0 0;
    margin: auto 0;
  }

  footer p {
    padding: 0;
  }

  footer a {
    color: #000;
  }