<% if token? %>
<div>
  <h1>Enter a new password:</h1>
  <form action="/users/password_reset_status" method="post">
    <input type="text" name="new password" />
    <input type="text" name="password confirmation" />
    <input type="submit" value="Submit"/>
  </form>
</div>
<% end %>