<% if current_user %>
  <div id='links-container'>
    <ul id="links">
      <% @current_user.links.each do |link| %>
      <%= partial :link, locals: {link: link}  %>
      <% end %>
    <% end %>
  </ul>
</div>
